
  mat-drawer {
    background-color: #F5F5F5;
    color: black;
    font-size: 16px;
    width: 200px !important;
    border-right: 1px solid #BFC9CA;
    
  }
  
  
  mat-drawer-content {
    height: 100vh;
    background-color: white;
    overflow: auto;
  }
   
  .list-m {
    font-size: 19px;
    cursor: pointer;
    transition: all .1s ease;
  }
  
  .list-m mat-icon,
  .list-m .material-icons,
  .list-m .menu-title {
    color: black !important;
  }
 
 
  .cerrar-sesion {
    margin-top: 1em;
  }
  
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
  

#bienvenida{
  font-weight: bold;
  padding: 10px;
}

#menu{
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  background-color: greenyellow;
}

